.accordion-container{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.accordion{
    background-color: sandybrown;
    border-radius: 5px;
    
    h3{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.icon{
    font-size: 25px;
    margin-right: 10px;
}
.show{
    display: block;
}
.hide{
    display: none;
}